<nav class="site-nav">
    <input type="checkbox" id="show-menu" role="button">
    <label for="show-menu" class="menu"><span>M</span></label>
    <h1 class="site-title"><a href="http://hackstub.netlib.re" target="_target">{{site.title}}</a><span>{{site.title}}</span></h1>
    <ul>
        <li class="{% if page.url == '/' %}active{% endif %}"><a href="{{ site.baseurl }}/">Accueil</a></li>
        {% assign pages = site.pages | sort:"weight"  %}
        {% for p in pages reversed %}
            {% if p.title %}<li class="{% if page.url == p.url %} active {% endif %}"><a href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a></li>{% endif %}
        {% endfor %}
    </ul>
</nav>
