.site-nav{
    background: #222222;
    font-weight: 700;

    a{
        color: #ffffff;
        display: block;
        height: inherit;
        width: inherit;
        font-weight: 700;
    }

    ul{
        display:none;
    }

    li{
        color: #ffffff;
        text-align: center;
        white-space: nowrap;
    }

    .site-title{
        background: #2277bb;
    }

    .active{
        background: #22bb77;
    }

    label{
        background: #22bb77;
        color: #fff;
        cursor: pointer;
        display: block;
        text-align: center;
    }

    input[type=checkbox]{
        display: none;
    }

    input[type=checkbox]:checked ~ ul{
        display: block;
    }
}
